$blockBg: rgba(131, 131, 131, 0.74);
$headerBg: rgba(70, 70, 70, 0.699);

body {
    user-select: none;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    font-family: sans-serif;
    height: 100vh;
    background: #c2e59c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px auto;
}

button {
    background-color: transparent;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $headerBg;

    .logo-block {
        height: 40px;
        margin-left: 70px;
        align-self: center;
        position: relative;
        .logo {
            height: 40px;
            margin: 0 auto;
        }
        .logo-shine {
            height: 40px;
            position: absolute;
            top: -1px;
            left: -11.5px;
            -webkit-animation: linear 15s rotate infinite;
            animation: linear 15s rotate infinite;
        }
    }
}

@-webkit-keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}
@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}
.main-block {
    position: relative;
    width: 100%;
}

.h100 {
    height: 100%;
}

.card-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1600px;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
// Scroll
.card-container::-webkit-scrollbar {
    width: 10px;
}

.card-container::-webkit-scrollbar-track {
    background-color: #f9f9fd;
    border-radius: 10px;
}

.card-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #929292, #272727);
}
.card2-block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.animation-container {
    margin-bottom: -50px;
}
#main-temp {
    padding: 0;
    margin: 0;
    margin-bottom: -50px;
    height: auto;
    width: auto;
    font-size: 10rem;
    font-family: Arial;
}
#user-location {
    font-size: 3rem;
    margin-bottom: 0;
    max-width: 260px;
}
#main-condition {
    font-size: 1.8rem;
    word-wrap: break-word;
}
.star {
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    font-size: 50px !important;
    cursor: pointer;
    color: white;
}
#favorite-star {
    font-size: 1.8rem !important;
    margin-right: 5px;
    z-index: 5;

    &:hover {
        color: rgb(0, 0, 0);
    }
}
.main-info {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    background-color: $blockBg;
    padding: 0px 30px;
    padding-bottom: 20px;
    box-sizing: border-box;

    &_temp-location {
        margin-left: -10px;
        display: flex;
        align-items: flex-end;

        .star {
            justify-self: end;
        }
    }
}
// Date and weather icon
#main-date {
    text-align: left;
    margin-bottom: 0 !important;
}

.card1 {
    padding: 0px !important;
    height: 100%;
    position: relative;
    background-color: rgba(240, 230, 140, 0.575);
}
.animation-icon {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
// Favorite city
#favorite-city {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    max-width: fit-content;
    overflow-y: scroll;
    height: 100%;

    // Scroll
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        // background-color: #f9f9fd;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(180deg, #929292, #272727);
    }
    .favorite-city-header {
        background-color: rgba(95, 95, 95, 0.733);
        background-color: $blockBg;
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: bold;
        top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
            margin: 0;
            padding: 5px;
            padding-left: 10px;
        }
        #clear-localstorage {
            margin: 0;
            padding: 0;
            border: none;
            padding: 0px 13px;
            font-size: 0.8rem;
            color: white;
            background-color: transparent;
            &:hover {
                cursor: pointer;
                filter: contrast(10);
                background-color: rgba(255, 255, 255, 0.616);
            }
            &:focus {
                border: none;
                outline: 2px solid white;
                background-color: rgba(255, 255, 255, 0.616);
                filter: contrast(10);
            }
        }
        .favorite-city_clear {
            width: 13px;
            height: 13px;
            &:focus {
                border: none;
                outline: 2px solid white;
                background-color: rgba(255, 255, 255, 0.616);
                filter: contrast(10);
            }
        }
    }
    &-block {
        box-sizing: border-box;

        overflow-x: hidden;
        margin-top: 48px;
        position: relative;
        height: fit-content;
        width: fit-content;
        display: grid;
        justify-content: flex-end;
        align-items: flex-start;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
    .favorite-city_item {
        justify-self: end;
        display: flex;
        align-items: center;
        height: fit-content;
        width: 100%;
        margin: 2px 0px;
        background-color: $blockBg;
        color: rgb(255, 255, 255);
        box-sizing: border-box;
        padding: 0px 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: rgba(41, 41, 41, 0.946);
            color: rgb(216, 216, 216);
        }

        .local-temp {
            font-size: 2.5rem;
            margin-bottom: 0 !important;
        }

        .local-city {
            font-size: 1.2rem !important;
        }
        .favorite-city_row {
            padding: 0 10px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            &-icon {
                p {
                    margin: 0;
                    margin-left: 5px;
                }
            }
            .local-city {
                max-width: 150px;
                word-wrap: normal;
            }
            .animation-icon {
                height: 30px !important;
                max-width: 50px !important;
            }
        }
    }
}

// Form
#search-form {
    margin-right: 0px;
    box-sizing: border-box;
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 60px;
}
// Input
#search-forecast {
    background-color: rgba(255, 255, 255, 0.493);
    padding: 8px 10px 8px 10px !important;
    box-sizing: border-box;
    border: none !important;
    font-size: 22px !important;
    color: #fff;

    &:focus {
        box-sizing: border-box;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        background-color: rgba(255, 255, 255, 0.131);
        outline-width: 0;
        font-weight: 400;
        color: white;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.131);
        color: white;
    }
    &:focus-visible {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline: none;
        color: white;
    }
}
.placeholderred::-webkit-input-placeholder {
    color: red !important;
    font-size: 1.2rem;
}
::-webkit-input-placeholder {
    color: red !important;
    font-size: 1.2rem;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: red;
    font-size: 1.2rem;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: red;
    font-size: 1.2rem;
}

:-ms-input-placeholder {
    color: red;
    font-size: 1.2rem;
}
.light-text {
    color: white !important;
}

::placeholder {
    color: #e6e6e6 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #b0bec5 !important;
}

::-ms-input-placeholder {
    color: #b0bec5 !important;
}

// Search icon
.fa-search {
    padding: 0px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    border-left: 1px solid $headerBg;

    &:focus {
        border: none;
        outline: 2px solid white;
        background-color: rgba(255, 255, 255, 0.616);
        filter: contrast(10);
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.616);
        filter: contrast(10);
    }
}
.search {
    width: 25px;
}
#error-field {
    color: rgb(255, 38, 0);
    margin-bottom: 0 !important;
    position: relative;
}

.error-text {
    position: absolute;
    left: 20%;
}

.light-text {
    color: #b0bec5;
}

.line {
    height: 1px;
    background-color: #b0bec5;
}

.header-text_main {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

.header-text {
    font-size: 1.2rem;
}

#detail-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
// Spinner
#content_wrapper {
    pointer-events: none;
    position: relative;
}
.loader-block {
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    user-select: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: "";
    width: 100%;
    height: 100%;
    background: #c2e59c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.loader-item {
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
    position: relative;
}
.loader-item_bg {
    width: 600px;
    height: 200px;
}
.loader {
    z-index: 1000;
    color: transparent;
    background-image: url("../img/logo_v2_shine.svg");
    background-position: center;
    background-size: cover;
    text-indent: -9999em;
    overflow: hidden;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    left: -25px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
//// Media query
@media screen and (max-width: 1100px) {
    body {
        overflow: visible;
        overflow-x: hidden;
        background-size: cover;
        height: fit-content;
    }

    #favorite-city-block {
        // grid-template-columns: repeat(3, 1fr) !important;
        height: 100% !important;
        grid-template-rows: 2fr !important;
    }
}

// Media query
@media screen and (max-width: 767px) {
    body {
        overflow: visible;
        overflow-x: hidden;
        background-size: cover;
        height: fit-content;
    }

    .main-block {
        height: 100%;
    }

    #last-enter-city {
        position: relative;
    }

    .card1 {
        position: relative;
    }

    #favorite-city {
        position: relative;
        margin-top: 60px;
    }

    #favorite-city-block {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: 2fr !important;
        column-gap: 10px;
        row-gap: 10px;
    }
}

@media screen and (max-width: 500px) {
    body {
        overflow: visible;
        overflow-x: hidden;
        background-size: cover;
        height: auto;
        height: fit-content;
    }

    .card2-block {
        overflow: visible;
    }

    .card1 {
        position: relative;
    }

    #detail-block {
        justify-content: center;
        align-items: center;
    }

    .w-80 {
        width: 90%;
        text-align: center;
    }

    #last-enter-city {
        position: relative;
    }

    .card2-block::-webkit-scrollbar {
        display: none;
    }

    #favorite-city {
        position: relative;
        margin-top: 60px;
    }

    #favorite-city-block {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: 3fr !important;
    }
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
            -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
            -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
            -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
            -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// Icon animation
$bodyBg: #333;
$yellow: #e5d8ba;
$blue: #55b3ae;
$cloudWhite: #dad9d9;

.svg-contain {
    max-width: 150px;
    width: 100%;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.big-path,
.lightening,
.line,
.little-path {
    stroke-miterlimit: 10;
    stroke-width: 2;
    stroke-linecap: round;
    fill: none;
}

.cloud {
    fill: $cloudWhite;
}

.little-path {
    stroke-width: 1;
}

.hurricane-svg {
    $lines: 12;
    .line {
        stroke: $blue;
        opacity: 1;
        animation: fadeIn 0.8s ease-in alternate-reverse infinite;
        @for $i from 1 through $lines {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.1s;
            }
        }
    }
    .lightening {
        animation: flash 1s infinite;
        stroke: $yellow;
    }
    .big-path,
    .little-path {
        stroke: $blue;
    }
    .big-path {
        stroke-width: 1;
    }
    .little-path {
        stroke-width: 0.5;
    }
    .cloud {
        animation: colorChange 1s infinite;
    }
}

.windy-svg {
    .little-path,
    .big-path {
        animation: dash 1s ease-in alternate-reverse infinite, fadeIn 1s alternate-reverse infinite;
    }
    path {
        stroke: $blue;
    }
    .path-1 {
        stroke-dasharray: 7;
        stroke-dashoffset: 7;
    }
    .path-2 {
        stroke-dasharray: 25;
        stroke-dashoffset: -25;
    }
    .path-3 {
        stroke-dasharray: 30;
        stroke-dashoffset: 30;
    }
    .path-4 {
        stroke-dasharray: 8;
        stroke-dashoffset: 8;
    }
    .path-5 {
        stroke-dasharray: 22;
        stroke-dashoffset: -22;
    }
    .big-path-1 {
        stroke-dasharray: 57;
        stroke-dashoffset: 57;
    }
    .big-path-2 {
        stroke-dasharray: 76;
        stroke-dashoffset: 76;
    }
}

.clear-sky-svg {
    animation: expand 0.8s alternate-reverse infinite;
    .sun {
        fill: $yellow;
    }
    .line {
        stroke: $yellow;
        stroke-dasharray: 7;
        animation: dash 0.8s alternate-reverse infinite, fadeIn 1s forwards;
    }
    .line-1,
    .line-3,
    .line-5,
    .line-7,
    .line-4 {
        stroke-dashoffset: 5;
        animation-delay: 0.3s;
    }
    .line-2,
    .line-6,
    .line-8 {
        stroke-dashoffset: -5;
    }
}

.overcast-clouds {
    .cloud-still {
        fill: $cloudWhite;
        animation: bounce 4s ease-in-out alternate-reverse infinite;
        &:nth-child(1) {
            animation-delay: 0.2s;
        }
    }
}

.snow-svg {
    .snowflake {
        transform-origin: 50% 50%;
        transform: translateY(-10px);
        opacity: 0;
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                @if $i % 2==0 {
                    animation: fall-clockwise random(2000) + 2000ms ease-in forwards infinite;
                    animation-delay: $i * 0.1s * random(3);
                } @else {
                    animation: fall-counterclockwise random(2000) + 2000ms ease-in forwards infinite;
                    animation-delay: $i * 0.1s * random(3);
                }
            }
        }
    }
    .snowflake-path {
        stroke: $blue;
        stroke-width: 1;
    }
}

.fog-svg {
    .fog-line {
        @for $i from 1 through 18 {
            &:nth-child(#{$i}) {
                stroke: $blue;
                animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
                animation-delay: $i * 0.2s;
            }
        }
    }
}

@keyframes colorChange {
    0%,
    90% {
        fill: rgba(100, 100, 120, 1);
    }
    60%,
    100% {
        fill: rgba(200, 200, 200, 0.8);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0%,
    90% {
        opacity: 0;
        transform: translateX(-1px) translateY(-2px) rotate(0.01deg);
    }
    90% {
        transform: translateX(1px) translateY(-1px);
    }
    60%,
    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes expand {
    to {
        transform: scale(1.1);
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes bounce {
    0%,
    50%,
    100% {
        transform: translateY(0px) translateX(0px) rotate(0.1deg);
    }
    30%,
    80% {
        transform: translateY(3px) translateX(3px) rotate(0.1deg);
    }
}

@keyframes fall-clockwise {
    0% {
        transform: translateY(-7px) rotate(0) scale(0.5);
        opacity: 0;
    }
    10% {
        transform: translateY(-4px) translateX(4px) rotate(-30deg) scale(0.7);
        opacity: 1;
    }
    45% {
        transform: translateY(5px) translateX(0px) rotate(30deg) scale(0.6);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY(10px) translateX(3px) scale(0.5);
    }
}

@keyframes fall-counterclockwise {
    0% {
        transform: translateY(-9px) rotate(0) scale(0.6);
        opacity: 0;
    }
    10% {
        transform: translateY(-4px) translateX(-4px) rotate(30deg) scale(0.7);
        opacity: 1;
    }
    40% {
        transform: translateY(8px) translateX(4px) rotate(-30deg) scale(0.8);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY(14px) translateX(-3px) scale(0.7);
    }
}

@keyframes pan {
    0%,
    100% {
        transform: translateX(-2px) rotate(0.01deg);
    }
    50% {
        transform: translateX(2px) rotate(0.01deg);
    }
}
