body {
    user-select: none;
    color: #fff;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
    height: 100vh;
    background: #c2e59c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-block {
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 300px;
    margin: 0 auto;
}

.h100 {
    height: 100%;
}

.image {
    width: 300px;
    height: 300px;
}

.large-font {
    font-size: 70px;
    font-family: Arial;
}

.fa-sun-o {
    font-size: 22px;
}

.card0 {
    width: 100.5%;
}

.card1 {
    padding: 0px !important;
    position: relative;
}

.card2-block {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    background-color: rgba(95, 95, 95, 0.733);
    padding: 0px 0px 0px 20px;
    transform: scaleX(-1);
}

.card2 {
    transform: scaleX(-1);
}

// Scroll
.card2-block::-webkit-scrollbar {
    width: 10px;
}

.card2-block::-webkit-scrollbar-track {
    background-color: #f9f9fd;
    border-radius: 10px;
}

.card2-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #929292, #272727);
}

// Date and weather icon
#main-date {
    text-align: left;
    margin-bottom: 0 !important;
}

.animation-icon {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Form
#search-form {
    margin-left: -23px;
}

// Input
input {
    background-color: transparent;
    padding: 12px 0px 12px 10px !important;
    width: 76.5%;
    box-sizing: border-box;
    border: none !important;
    border-bottom: 1px solid #cfd8dc !important;
    font-size: 16px !important;
    color: #fff !important;
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    outline-width: 0;
    font-weight: 400;
}

input:focus-visible {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    outline: none;
}

.light-text {
    color: white !important;
}

::placeholder {
    color: #e6e6e6 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #b0bec5 !important;
}

::-ms-input-placeholder {
    color: #b0bec5 !important;
}

// Search icon
.fa-search {
    color: #607d8b;
    background-color: #e1f5fe;
    font-size: 20px;
    padding: 0px;
    width: 20%;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0.2px solid #e1f5fe;
    border: none;

    &:focus {
        outline: 1px solid white;
    }

    &:hover {
        background-color: white;
    }
}

#error-field {
    color: rgb(255, 38, 0);
    margin-bottom: 0 !important;
    position: relative;
}

.error-text {
    position: absolute;
    left: 20%;
}

// Localstorage city
#last-city {
    display: none;
    position: relative;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(111, 111, 111, 0.527);

    #last-city-block {
        height: 30vh;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }

    .last-city-header {
        background-color: rgba(95, 95, 95, 0.733);
        padding: 6px 20px;
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        font-weight: bold;
        top: -40px;
        width: 100%;
        text-align: left;
    }

    .last-city_item {
        width: 100%;
        background-color: rgba(95, 95, 95, 0.733);
        color: rgb(255, 255, 255);
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.3ms ease-in-out;

        &:hover {
            background-color: rgba(41, 41, 41, 0.946);
            color: rgb(216, 216, 216);
        }

        .local-temp {
            font-size: 3rem;
        }

        .local-city {
            font-size: 1.8rem !important;
        }
    }
}

.light-text {
    color: #b0bec5;
}

.line {
    height: 1px;
    background-color: #b0bec5;
}

.header-text_main {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

.header-text {
    font-size: 1.2rem;
}

#detail-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

//// Media query
@media screen and (max-width: 1100px) {
    body {
        overflow: visible;
        overflow-x: hidden;
        background-size: cover;
        height: fit-content;
    }

    #last-city-block {
        grid-template-columns: repeat(3, 1fr) !important;
        height: 100% !important;
        grid-template-rows: 2fr !important;
    }
}

// Media query
@media screen and (max-width: 767px) {
    body {
        overflow: visible;
        overflow-x: hidden;
        background-size: cover;
        height: fit-content;
    }

    .main-block {
        height: 100%;
    }

    #last-enter-city {
        position: relative;
    }

    .card1 {
        position: relative;
    }

    #last-city {
        position: relative;
        margin-top: 60px;
    }

    #last-city-block {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: 2fr !important;
        column-gap: 10px;
        row-gap: 10px;
    }
}

@media screen and (max-width: 500px) {
    body {
        overflow: visible;
        overflow-x: hidden;
        background-size: cover;
        height: auto;
        height: fit-content;
    }

    .card2-block {
        overflow: visible;
    }

    .card1 {
        position: relative;
    }

    #detail-block {
        justify-content: center;
        align-items: center;
    }

    .w-80 {
        width: 90%;
        text-align: center;
    }

    #last-enter-city {
        position: relative;
    }

    .card2-block::-webkit-scrollbar {
        display: none;
    }

    #last-city {
        position: relative;
        margin-top: 60px;
    }

    #last-city-block {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: 3fr !important;
    }
}
