body {
    color: #fff;
    overflow: hidden;
    background: #c9d6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    padding-top: 0px;
}

.main-block {
    position: relative;
    border-radius: 30px;
    overflow: hidden;

    .main-info {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-left: 20px;
        background-color: rgba(111, 111, 111, 0.527);
        border-bottom-left-radius: 30px;
    }
}
.radius {
    border-radius: 30px;
    overflow: hidden;
}
.logo {
    width: 300px;
    margin-left: -20px;
}
.suggestion {
    border-bottom: 1px dotted rgb(182, 182, 182);
    width: max-content;

    &:hover {
        border-bottom: 1px dotted rgb(237, 237, 237);
    }
}
#last-enter-city {
    margin-top: -30px;
}
.card0 {
    width: 94%;
}

.card1 {
    background-image: url(../img/city/kiev.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;

    padding: 30px 20px 30px 50px;
}

.image {
    width: 300px;
    height: 300px;
}

.large-font {
    font-size: 70px;
    font-family: Arial;
}

.fa-sun-o {
    font-size: 22px;
}

.card2 {
    background-color: #397897;
    padding: 0px 0px 40px 40px;
}

input {
    background-color: transparent;
    padding: 24px 0px 12px 0px !important;
    width: 80%;
    box-sizing: border-box;
    border: none !important;
    border-bottom: 1px solid #cfd8dc !important;
    font-size: 16px !important;
    color: #fff !important;
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    outline-width: 0;
    font-weight: 400;
}

::placeholder {
    color: #b0bec5 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #b0bec5 !important;
}

::-ms-input-placeholder {
    color: #b0bec5 !important;
}

.fa-search {
    color: #607d8b;
    background-color: #e1f5fe;
    font-size: 20px;
    padding: 20px;
    width: 20%;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0.2px solid #e1f5fe;
    border: none;
    &:focus {
        outline: 1px solid white;
    }
    &:hover {
        background-color: white;
    }
}
#last-query {
    display: flex;
    flex-wrap: wrap;

    .suggestion {
        margin-right: 10px;
    }
}
.card2 {
    height: 85vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
}

.light-text {
    color: #b0bec5;
}

.suggestion:hover {
    color: #fff;
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: #b0bec5;
}

.header-text_main {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

.header-text {
    font-size: 1.2rem;
}

// Media query
@media screen and (max-width: 767px) {
    body {
        overflow: visible;
        background-size: cover;
        height: auto;
        padding: 20px 0px;
    }

    .card1 {
        height: 100vh;
    }

    .main-block {
        height: 100%;
    }

    .main-info {
        position: absolute;
        // bottom: 50%;
        left: 30px;
    }
}

@media screen and (max-width: 500px) {
    body {
        overflow: visible;
        background-size: cover;
        height: auto;
        padding: 5px 0px;
    }

    .card1 {
        padding-left: 26px;
        height: 100vh;
    }

    .main-block {
        height: 100%;
    }

    .main-info {
        position: absolute;
        // bottom: 50%;
        left: 30px;
    }
}
