:root {
  --accent: white;
  --border-width: 2px;
  --border-radius: 0px;
  --font-size: 30px;
}

body {
  color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  background: #c2e59c;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#64b3f4), to(#c2e59c));
  background: linear-gradient(to right, #64b3f4, #c2e59c);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 55px auto;
      grid-template-rows: 55px auto;
}

button {
  background-color: transparent;
}

header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #464646;
  z-index: 990;
  -webkit-box-shadow: 0px 8px 12px 5px rgba(37, 75, 104, 0.28);
  box-shadow: 0px 8px 12px 5px rgba(37, 75, 104, 0.28);
}

header .logo-block {
  height: 40px;
  margin-left: 70px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

header .logo-block .logo {
  height: 40px;
  margin: 0 auto;
}

header .logo-block .logo-shine {
  height: 40px;
  position: absolute;
  top: -1px;
  left: -11.5px;
  -webkit-animation: linear 15s rotate infinite;
  animation: linear 15s rotate infinite;
}

header .radio-btn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-family: sans-serif;
}

header .container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .container #toggle {
  position: relative;
  border: solid var(--border-width) var(--accent);
  border-radius: var(--border-radius);
  -webkit-transition: -webkit-transform cubic-bezier(0, 0, 0.3, 2) 0.4s;
  transition: -webkit-transform cubic-bezier(0, 0, 0.3, 2) 0.4s;
  transition: transform cubic-bezier(0, 0, 0.3, 2) 0.4s;
  transition: transform cubic-bezier(0, 0, 0.3, 2) 0.4s, -webkit-transform cubic-bezier(0, 0, 0.3, 2) 0.4s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
}

header .container #toggle > input[type="radio"] {
  display: none;
}

header .container #toggle > #choice1:checked ~ #flap {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

header .container #toggle > #choice1:checked ~ #flap > .content {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

header .container #toggle > #choice2:checked ~ #flap {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

header .container #toggle > label {
  display: inline-block;
  min-width: 170px;
  padding: 5px 30px;
  font-size: var(--font-size);
  text-align: center;
  color: var(--accent);
  cursor: pointer;
  margin-right: 20px;
}

header .container #toggle > label,
header .container #toggle > #flap {
  font-weight: bold;
  text-transform: capitalize;
}

header .container #toggle > #flap {
  position: absolute;
  top: calc(0px - var(--border-width));
  left: 50%;
  height: calc(100% + var(--border-width) * 2);
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font-size);
  background-color: var(--accent);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

header .container #toggle > #flap > .content {
  color: #333;
  -webkit-transition: -webkit-transform 0s linear 0.25s;
  transition: -webkit-transform 0s linear 0.25s;
  transition: transform 0s linear 0.25s;
  transition: transform 0s linear 0.25s, -webkit-transform 0s linear 0.25s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.main-block {
  position: relative;
  width: 100%;
}

.h100 {
  height: 100%;
}

.card-container {
  width: 100%;
  height: 92vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 55vh 45vh;
      grid-template-rows: 55vh 45vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  overflow-y: hidden;
  overflow-x: hidden;
}

.card-container::-webkit-scrollbar {
  width: 10px;
}

.card-container::-webkit-scrollbar-track {
  background-color: #f9f9fd;
  border-radius: 10px;
}

.card-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#272727));
  background: linear-gradient(180deg, #929292, #272727);
}

.card2-block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.animation-container {
  margin-bottom: -40px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-temp {
  padding: 0;
  margin: 0;
  margin-bottom: -40px;
  height: auto;
  width: auto;
  font-size: 8rem;
  font-family: Arial;
}

#user-location {
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 25px;
  max-width: 260px;
}

#main-condition {
  font-size: 1.8rem;
  word-wrap: break-word;
  margin-top: 15px;
  margin-left: 15px;
}

.star {
  font-size: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 50px !important;
  cursor: pointer;
  color: white;
}

.main-info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
  background-color: rgba(131, 131, 131, 0.74);
  padding: 0px 30px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-info_temp-location {
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-info_temp-location .star {
  -ms-grid-column-align: end;
      justify-self: end;
}

#main-date {
  text-align: left;
  margin-bottom: 0 !important;
}

#card-block {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card2 {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  padding: 0px;
  z-index: 500;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.card2::-webkit-scrollbar {
  width: 6px;
}

.card2::-webkit-scrollbar-track {
  background-color: #f9f9fd80;
  border-radius: 6px;
}

.card2::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#272727));
  background: linear-gradient(180deg, #929292, #272727);
}

.card2 .card2-item {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.801);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 220px;
  min-width: 170px;
  margin: 0px 5px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card2 .card2-item .item-day {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.card2 .card2-item .item-day p {
  padding: 0;
  margin: 0;
}

.card2 .card2-item .item-day .item-day_date {
  font-size: 1.2rem;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card2 .card2-item .item-day .item-day_date:first-child {
  margin-right: 10px;
}

.card2 .card2-item p {
  padding: 0;
}

.card2 .card2-item .item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card2 .card2-item .item-icon {
  margin-top: -5px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  display: inline-block;
}

.card2 .card2-item .item-temp {
  margin-top: -20px;
  margin-bottom: 0;
  font-size: 2rem;
}

.card2 .card2-item .item-condition {
  margin-top: -30px;
  margin-bottom: 6px;
}

.card1 {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  z-index: 500;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.card1::-webkit-scrollbar {
  width: 6px;
}

.card1::-webkit-scrollbar-track {
  background-color: #f9f9fd80;
  border-radius: 6px;
}

.card1::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#272727));
  background: linear-gradient(180deg, #929292, #272727);
}

.card1 .card1-item {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.801);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 25vh;
  min-height: 170px;
  width: 200px;
  margin: 0px 5px;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card1 .card1-item .item-day {
  font-weight: bold;
  font-size: 1.5rem;
}

.card1 .card1-item p {
  padding: 0;
}

.card1 .card1-item .item-icon {
  margin-top: -5px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.card1 .card1-item .item-temp {
  margin-top: -20px;
  margin-bottom: 0;
}

.animation-icon {
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#favorite-city {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 5px;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 40%;
  width: 30%;
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
}

#favorite-city .favorite-city-header {
  background-color: rgba(95, 95, 95, 0.733);
  background-color: rgba(131, 131, 131, 0.74);
  position: absolute;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  top: 10px;
  word-break: keep-all;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#favorite-city .favorite-city-header p {
  margin: 0;
  padding: 5px;
  padding-left: 10px;
}

#favorite-city .favorite-city-header #clear-localstorage {
  margin: 0;
  padding: 0;
  border: none;
  padding: 0px 13px;
  font-size: 0.8rem;
  color: white;
  background-color: transparent;
}

#favorite-city .favorite-city-header #clear-localstorage:hover {
  cursor: pointer;
  -webkit-filter: contrast(10);
          filter: contrast(10);
  background-color: rgba(255, 255, 255, 0.616);
}

#favorite-city .favorite-city-header #clear-localstorage:focus {
  border: none;
  outline: 2px solid white;
  background-color: rgba(255, 255, 255, 0.616);
  -webkit-filter: contrast(10);
          filter: contrast(10);
}

#favorite-city .favorite-city-header .favorite-city_clear {
  width: 13px;
  height: 13px;
}

#favorite-city .favorite-city-header .favorite-city_clear:focus {
  border: none;
  outline: 2px solid white;
  background-color: rgba(255, 255, 255, 0.616);
  -webkit-filter: contrast(10);
          filter: contrast(10);
}

#favorite-city-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  margin-top: 48px;
  position: relative;
  height: 85%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#favorite-city-block::-webkit-scrollbar {
  width: 10px;
}

#favorite-city-block::-webkit-scrollbar-track {
  border-radius: 10px;
}

#favorite-city-block::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#272727));
  background: linear-gradient(180deg, #929292, #272727);
}

#favorite-city .favorite-city_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2px 2px;
  background-color: rgba(131, 131, 131, 0.74);
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#favorite-city .favorite-city_item:hover {
  background-color: rgba(41, 41, 41, 0.946);
  color: #d8d8d8;
}

#favorite-city .favorite-city_item .local-city {
  font-size: 0.9rem !important;
  word-wrap: normal;
  padding: 0;
  margin: 0;
}

#favorite-city .favorite-city_item .favorite-city_row {
  padding: 0 10px;
}

#search-form {
  margin-right: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px;
      grid-template-columns: 1fr 60px;
}

#search-forecast {
  background-color: rgba(255, 255, 255, 0.493);
  padding: 8px 10px 8px 10px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none !important;
  font-size: 22px !important;
  color: #fff;
}

#search-forecast:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.131);
  outline-width: 0;
  font-weight: 400;
  color: white;
}

#search-forecast:hover {
  background-color: rgba(255, 255, 255, 0.131);
  color: white;
}

#search-forecast:focus-visible {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
  color: white;
}

.placeholderred::-webkit-input-placeholder {
  color: red !important;
  font-size: 1.2rem;
}

::-webkit-input-placeholder {
  color: red !important;
  font-size: 1.2rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: red;
  font-size: 1.2rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: red;
  font-size: 1.2rem;
}

:-ms-input-placeholder {
  color: red;
  font-size: 1.2rem;
}

.light-text {
  color: white !important;
}

::-webkit-input-placeholder {
  color: #e6e6e6 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #e6e6e6 !important;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #e6e6e6 !important;
  opacity: 1;
}

::placeholder {
  color: #e6e6e6 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #b0bec5 !important;
}

::-ms-input-placeholder {
  color: #b0bec5 !important;
}

.fa-search {
  padding: 0px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-left: 1px solid #464646;
}

.fa-search:focus {
  border: none;
  outline: 2px solid white;
  background-color: rgba(255, 255, 255, 0.616);
  -webkit-filter: contrast(10);
          filter: contrast(10);
}

.fa-search:hover {
  background-color: rgba(255, 255, 255, 0.616);
  -webkit-filter: contrast(10);
          filter: contrast(10);
}

.search {
  width: 25px;
}

#error-field {
  color: #ff2600;
  margin-bottom: 0 !important;
  position: relative;
}

.error-text {
  position: absolute;
  left: 20%;
}

.light-text {
  color: #b0bec5;
}

.line {
  height: 1px;
  background-color: #b0bec5;
}

.header-text_main {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
}

.header-text {
  font-size: 1.2rem;
}

#detail-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content_wrapper {
  position: relative;
}

.loader-block {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "";
  width: 100%;
  height: 100%;
  background: #c2e59c;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#64b3f4), to(#c2e59c));
  background: linear-gradient(to right, #64b3f4, #c2e59c);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.loader-item {
  margin-left: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.loader-item_bg {
  width: 600px;
  height: 200px;
}

.loader {
  z-index: 1000;
  color: transparent;
  background-image: url("../img/logo_v2_shine.svg");
  background-position: center;
  background-size: cover;
  text-indent: -9999em;
  overflow: hidden;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: -25px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@media screen and (max-width: 1100px) {
  body {
    overflow: visible;
    overflow-x: hidden;
    background-size: cover;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #favorite-city-block {
    height: 100% !important;
    -ms-grid-rows: 2fr !important;
        grid-template-rows: 2fr !important;
  }
}

@media screen and (max-width: 767px) {
  body {
    overflow: visible;
    overflow-x: hidden;
    background-size: cover;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-block {
    height: 100%;
  }
  #last-enter-city {
    position: relative;
  }
  .card1 {
    position: relative;
  }
  #favorite-city {
    position: relative;
    margin-top: 60px;
  }
  #favorite-city-block {
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
    -ms-grid-rows: 2fr !important;
        grid-template-rows: 2fr !important;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  body {
    overflow: visible;
    overflow-x: hidden;
    background-size: cover;
    height: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .card2-block {
    overflow: visible;
  }
  .card1 {
    position: relative;
  }
  #detail-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .w-80 {
    width: 90%;
    text-align: center;
  }
  #last-enter-city {
    position: relative;
  }
  .card2-block::-webkit-scrollbar {
    display: none;
  }
  #favorite-city {
    position: relative;
    margin-top: 60px;
  }
  #favorite-city-block {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    -ms-grid-rows: 3fr !important;
        grid-template-rows: 3fr !important;
  }
}

@-webkit-keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.svg-contain {
  max-width: 150px;
  width: 100%;
}

.weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.big-path,
.lightening,
.line,
.little-path {
  stroke-miterlimit: 10;
  stroke-width: 2;
  stroke-linecap: round;
  fill: none;
}

.cloud {
  fill: #dad9d9;
}

.little-path {
  stroke-width: 1;
}

.hurricane-svg .line {
  stroke: #55b3ae;
  opacity: 1;
  animation: fadeIn 0.8s ease-in alternate-reverse infinite;
}

.hurricane-svg .line:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.hurricane-svg .line:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.hurricane-svg .line:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.hurricane-svg .line:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.hurricane-svg .line:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.hurricane-svg .line:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.hurricane-svg .line:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.hurricane-svg .line:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.hurricane-svg .line:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.hurricane-svg .line:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.hurricane-svg .line:nth-child(11) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.hurricane-svg .line:nth-child(12) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.hurricane-svg .lightening {
  -webkit-animation: flash 1s infinite;
          animation: flash 1s infinite;
  stroke: #e5d8ba;
}

.hurricane-svg .big-path,
.hurricane-svg .little-path {
  stroke: #55b3ae;
}

.hurricane-svg .big-path {
  stroke-width: 1;
}

.hurricane-svg .little-path {
  stroke-width: 0.5;
}

.hurricane-svg .cloud {
  -webkit-animation: colorChange 1s infinite;
          animation: colorChange 1s infinite;
}

.windy-svg .little-path,
.windy-svg .big-path {
  animation: dash 1s ease-in alternate-reverse infinite, fadeIn 1s alternate-reverse infinite;
}

.windy-svg path {
  stroke: #55b3ae;
}

.windy-svg .path-1 {
  stroke-dasharray: 7;
  stroke-dashoffset: 7;
}

.windy-svg .path-2 {
  stroke-dasharray: 25;
  stroke-dashoffset: -25;
}

.windy-svg .path-3 {
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
}

.windy-svg .path-4 {
  stroke-dasharray: 8;
  stroke-dashoffset: 8;
}

.windy-svg .path-5 {
  stroke-dasharray: 22;
  stroke-dashoffset: -22;
}

.windy-svg .big-path-1 {
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
}

.windy-svg .big-path-2 {
  stroke-dasharray: 76;
  stroke-dashoffset: 76;
}

.clear-sky-svg {
  animation: expand 0.8s alternate-reverse infinite;
}

.clear-sky-svg .sun {
  fill: #e5d8ba;
}

.clear-sky-svg .line {
  stroke: #e5d8ba;
  stroke-dasharray: 7;
  animation: dash 0.8s alternate-reverse infinite, fadeIn 1s forwards;
}

.clear-sky-svg .line-1,
.clear-sky-svg .line-3,
.clear-sky-svg .line-5,
.clear-sky-svg .line-7,
.clear-sky-svg .line-4 {
  stroke-dashoffset: 5;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.clear-sky-svg .line-2,
.clear-sky-svg .line-6,
.clear-sky-svg .line-8 {
  stroke-dashoffset: -5;
}

.overcast-clouds .cloud-still {
  fill: #dad9d9;
  animation: bounce 4s ease-in-out alternate-reverse infinite;
}

.overcast-clouds .cloud-still:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.snow-svg .snowflake {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
}

.snow-svg .snowflake:nth-child(1) {
  -webkit-animation: fall-counterclockwise 3680ms ease-in forwards infinite;
          animation: fall-counterclockwise 3680ms ease-in forwards infinite;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.snow-svg .snowflake:nth-child(2) {
  -webkit-animation: fall-clockwise 2731ms ease-in forwards infinite;
          animation: fall-clockwise 2731ms ease-in forwards infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.snow-svg .snowflake:nth-child(3) {
  -webkit-animation: fall-counterclockwise 3192ms ease-in forwards infinite;
          animation: fall-counterclockwise 3192ms ease-in forwards infinite;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.snow-svg .snowflake:nth-child(4) {
  -webkit-animation: fall-clockwise 2329ms ease-in forwards infinite;
          animation: fall-clockwise 2329ms ease-in forwards infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.snow-svg .snowflake:nth-child(5) {
  -webkit-animation: fall-counterclockwise 2590ms ease-in forwards infinite;
          animation: fall-counterclockwise 2590ms ease-in forwards infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.snow-svg .snowflake:nth-child(6) {
  -webkit-animation: fall-clockwise 3526ms ease-in forwards infinite;
          animation: fall-clockwise 3526ms ease-in forwards infinite;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.snow-svg .snowflake:nth-child(7) {
  -webkit-animation: fall-counterclockwise 3073ms ease-in forwards infinite;
          animation: fall-counterclockwise 3073ms ease-in forwards infinite;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.snow-svg .snowflake:nth-child(8) {
  -webkit-animation: fall-clockwise 3455ms ease-in forwards infinite;
          animation: fall-clockwise 3455ms ease-in forwards infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.snow-svg .snowflake:nth-child(9) {
  -webkit-animation: fall-counterclockwise 3663ms ease-in forwards infinite;
          animation: fall-counterclockwise 3663ms ease-in forwards infinite;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.snow-svg .snowflake:nth-child(10) {
  -webkit-animation: fall-clockwise 3644ms ease-in forwards infinite;
          animation: fall-clockwise 3644ms ease-in forwards infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.snow-svg .snowflake-path {
  stroke: #55b3ae;
  stroke-width: 1;
}

.fog-svg .fog-line:nth-child(1) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.fog-svg .fog-line:nth-child(2) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.fog-svg .fog-line:nth-child(3) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.fog-svg .fog-line:nth-child(4) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.fog-svg .fog-line:nth-child(5) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fog-svg .fog-line:nth-child(6) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.fog-svg .fog-line:nth-child(7) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.fog-svg .fog-line:nth-child(8) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.fog-svg .fog-line:nth-child(9) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.fog-svg .fog-line:nth-child(10) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fog-svg .fog-line:nth-child(11) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.fog-svg .fog-line:nth-child(12) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.fog-svg .fog-line:nth-child(13) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.fog-svg .fog-line:nth-child(14) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.fog-svg .fog-line:nth-child(15) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.fog-svg .fog-line:nth-child(16) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

.fog-svg .fog-line:nth-child(17) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}

.fog-svg .fog-line:nth-child(18) {
  stroke: #55b3ae;
  animation: pan 10s ease-in-out forwards infinite, fadeIn 4s alternate-reverse infinite;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

@-webkit-keyframes colorChange {
  0%,
  90% {
    fill: #646478;
  }
  60%,
  100% {
    fill: rgba(200, 200, 200, 0.8);
  }
}

@keyframes colorChange {
  0%,
  90% {
    fill: #646478;
  }
  60%,
  100% {
    fill: rgba(200, 200, 200, 0.8);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flash {
  0%,
  90% {
    opacity: 0;
    -webkit-transform: translateX(-1px) translateY(-2px) rotate(0.01deg);
            transform: translateX(-1px) translateY(-2px) rotate(0.01deg);
  }
  90% {
    -webkit-transform: translateX(1px) translateY(-1px);
            transform: translateX(1px) translateY(-1px);
  }
  60%,
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@keyframes flash {
  0%,
  90% {
    opacity: 0;
    -webkit-transform: translateX(-1px) translateY(-2px) rotate(0.01deg);
            transform: translateX(-1px) translateY(-2px) rotate(0.01deg);
  }
  90% {
    -webkit-transform: translateX(1px) translateY(-1px);
            transform: translateX(1px) translateY(-1px);
  }
  60%,
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes expand {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes expand {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes bounce {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0.1deg);
            transform: translateY(0px) translateX(0px) rotate(0.1deg);
  }
  30%,
  80% {
    -webkit-transform: translateY(3px) translateX(3px) rotate(0.1deg);
            transform: translateY(3px) translateX(3px) rotate(0.1deg);
  }
}

@keyframes bounce {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0.1deg);
            transform: translateY(0px) translateX(0px) rotate(0.1deg);
  }
  30%,
  80% {
    -webkit-transform: translateY(3px) translateX(3px) rotate(0.1deg);
            transform: translateY(3px) translateX(3px) rotate(0.1deg);
  }
}

@-webkit-keyframes fall-clockwise {
  0% {
    -webkit-transform: translateY(-7px) rotate(0) scale(0.5);
            transform: translateY(-7px) rotate(0) scale(0.5);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(-4px) translateX(4px) rotate(-30deg) scale(0.7);
            transform: translateY(-4px) translateX(4px) rotate(-30deg) scale(0.7);
    opacity: 1;
  }
  45% {
    -webkit-transform: translateY(5px) translateX(0px) rotate(30deg) scale(0.6);
            transform: translateY(5px) translateX(0px) rotate(30deg) scale(0.6);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px) translateX(3px) scale(0.5);
            transform: translateY(10px) translateX(3px) scale(0.5);
  }
}

@keyframes fall-clockwise {
  0% {
    -webkit-transform: translateY(-7px) rotate(0) scale(0.5);
            transform: translateY(-7px) rotate(0) scale(0.5);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(-4px) translateX(4px) rotate(-30deg) scale(0.7);
            transform: translateY(-4px) translateX(4px) rotate(-30deg) scale(0.7);
    opacity: 1;
  }
  45% {
    -webkit-transform: translateY(5px) translateX(0px) rotate(30deg) scale(0.6);
            transform: translateY(5px) translateX(0px) rotate(30deg) scale(0.6);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px) translateX(3px) scale(0.5);
            transform: translateY(10px) translateX(3px) scale(0.5);
  }
}

@-webkit-keyframes fall-counterclockwise {
  0% {
    -webkit-transform: translateY(-9px) rotate(0) scale(0.6);
            transform: translateY(-9px) rotate(0) scale(0.6);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(-4px) translateX(-4px) rotate(30deg) scale(0.7);
            transform: translateY(-4px) translateX(-4px) rotate(30deg) scale(0.7);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(8px) translateX(4px) rotate(-30deg) scale(0.8);
            transform: translateY(8px) translateX(4px) rotate(-30deg) scale(0.8);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(14px) translateX(-3px) scale(0.7);
            transform: translateY(14px) translateX(-3px) scale(0.7);
  }
}

@keyframes fall-counterclockwise {
  0% {
    -webkit-transform: translateY(-9px) rotate(0) scale(0.6);
            transform: translateY(-9px) rotate(0) scale(0.6);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(-4px) translateX(-4px) rotate(30deg) scale(0.7);
            transform: translateY(-4px) translateX(-4px) rotate(30deg) scale(0.7);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(8px) translateX(4px) rotate(-30deg) scale(0.8);
            transform: translateY(8px) translateX(4px) rotate(-30deg) scale(0.8);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(14px) translateX(-3px) scale(0.7);
            transform: translateY(14px) translateX(-3px) scale(0.7);
  }
}

@-webkit-keyframes pan {
  0%,
  100% {
    -webkit-transform: translateX(-2px) rotate(0.01deg);
            transform: translateX(-2px) rotate(0.01deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(0.01deg);
            transform: translateX(2px) rotate(0.01deg);
  }
}

@keyframes pan {
  0%,
  100% {
    -webkit-transform: translateX(-2px) rotate(0.01deg);
            transform: translateX(-2px) rotate(0.01deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(0.01deg);
            transform: translateX(2px) rotate(0.01deg);
  }
}
/*# sourceMappingURL=style.css.map */